.header-wraper{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 0;
}
.header-logo{
    width: 140px;
}
.wraper-header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    gap: 40px;
}
.header-main-menu{
    display: flex;
    align-items: center;
    gap: 20px;
    a{
        color: var(--white);
        transition: 0.3s;
        white-space: nowrap;
        &:hover{
            opacity: 0.6;
        }
    }
}
.header-rigth-menu{
    display: flex;
    align-items: center;
    gap: 20px;
    a{
        color: var(--dark-gray);
        transition: 0.3s;
        &:hover{
            color: var(--white);
        }
    }
}
.bur-menu{
    display: none;
}

@media (max-width: 1248px) {
    .wraper-header-menu{
        width: fit-content;
    }
}
@media (max-width: 792px) {
    .wraper-header-menu, .header-main-menu, .header-rigth-menu{
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 20px;

        font-size: 22px;
    }

    .wraper-header-menu{
        position: fixed;
        right: 0;
        top: 0;
        z-index: 20;

        width: 50%;
        min-width: 220px;
        padding: 40px;
        padding-top: 100px;
        height: 100vh;

        gap: 60px;

        background-color: rgba(8, 80, 148, 0.335);
        border-left: solid 3px rgba(255, 255, 255, 0.274);

        transition: 0.4s;
        transform: translateX(125%);
        backdrop-filter: grayscale(100%) blur(2px);
        .item-menu{
            transform: translateY(-300%);
            transition: 0.5s;
            opacity: 0;
        }

        &.active{
            transform: translate(0);
            .item-menu{
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
    .bur-menu{
        display: block;
        position: relative;
        width: 34px;
        height: 20px;
        z-index: 21;
        cursor: pointer;
        span{
            position: absolute;
            right: 0;
            width: 100%;
            display: block;
            border-bottom: solid 2px var(--white);
        }
        span:nth-child(1){
            width: 75%;
        }
        span:nth-child(2){
            top: 50%;
            transform: translateY(-50%);
        }
        span:nth-child(3){
            bottom: 0;
            width: 60%;
        }
    }
}